.body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
header{
    
    padding:6px 12px;
    box-shadow: 0 0.25rem rgba(0, 0, 0, 0.336);
}
.header-nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav__link-list-container{
    
    display: flex;
    gap: 12px;
    list-style: none;
    margin: 8px;
    
}
.link-list-container__list-item{
    padding: 7px;
    background-color: #f7cd32;
    border-radius: 18px;
    transition: all 0.5s;
}
.link-list-container__list-item:hover{
    transform: scale(1.2);
    transition: all 0.5s;

}
.list-item__link{
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.headder-nav__logo-container{
    max-width: 100px;
    margin: 8px;
}
.logo-container__logo-wuf{
    max-width: 100%;
    transition: all 0.5s;
}
.logo-container__logo-wuf:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}


.article__title,
.article-adoptar__title{
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;
}
.article__main{
    display: flex;
    justify-content:center;
    align-items: center;
    
    gap: 2rem;
    padding: 5px;
}

.main__main-image-container{
    max-width: 366px;
    margin: 0;
    

}
.main-image-container__image{
    max-width:100%;
 
   
}
.main__presetation-container{
    display: flex;
    flex-direction: column;
   
    max-width: 750px;
    padding: 1rem;
    align-items: center;
   
}
.main-presentatiton-container__descripcion,.article-adoptar__frase{
    text-align: center;
    letter-spacing: 2px;
    
}
.main-presetation-container__objetives-lists{
    display: flex;
    gap:5px
    
}
.objetives-lists__item-image{
    list-style: none;
}
.item-image__objective-container{
    max-width: 100px;
    
    margin: 0;
}
.objetive-container__image{
    width: 100%;
    
}
.objetive-container__description{
    text-align: center;
    font-size: 0.7rem;
    font-weight: 400;
}
.presetation-container__button{
    font-size: 1.2rem;
    font-weight: 550;
    background-color:#f7cd32;
    letter-spacing: 1.2;
    border-radius: 10px;
    border: none;
    padding: 5px 7px;
    margin: 10px;
    transition: all 0.5s;
}
.presetation-container__button:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}
/* article adoptar */

.article-adoptar{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
}
.article-adoptar__title,
.article-adoptar__frase{
    margin: 0;
    padding: 0 10px;
}

.article-adoptar__pets-list-container{
    margin: 0;
    padding: 0 10px;
    display: flex;
    gap:55px;
    flex-direction: row;
    
}
.pets-list-container__item-pets{
    list-style: none;
}
.item-pets-content-img{
    max-width: 200px;
    margin: 0;
    transition: all 0.5s;
  
    

}
.item-pets-content-img:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.content-img__pet-image{
    width: 100%;
    border-radius: 50% ;
    
}
.razones-adoptar{
    background-color: #f7cd32;

}
.razones-adoptar___title{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
    text-align: center;

}
.razones-adoptar___list-razones-container{
    display: flex;
    justify-content: center;
    
    padding: 10px;
}
.list-razones__image-razon-item{
    list-style: none;
    
}
.image-razon-item__img-container{
    text-align: center;
    
    margin: 10px;
}
.img-container__img{
    
}
.img-container__img-description{
    font-size: 0.8rem;
    text-align: center;

}
